*{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Crimson Text', serif;
    text-align: center;
}

html{
    font-size: 12pt;
}

main{
    font-size: 24pt;
}

main p{
    font-size: 1em;
}

a{
    font-style: italic;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1rem;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: aqua;
}

p span{
    text-align: center;
    display: block;
    margin: 0 auto;
}